interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1?api-version=2019-08-09-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.AVS/privateClouds/cloud1''
        under resource group ''cli_test_vmware000001'' was not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds?api-version=2019-08-09-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "northcentralus", "tags": {}, "sku": {"name": "he"}, "properties":
      {"cluster": {"clusterSize": 4}, "networkBlock": "192.168.48.0/22", "vcenterPassword":
      "UpfBXae9ZquZSDXk(", "nsxtPassword": "5rqdLj4GF3cePUe6("}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1?api-version=2019-08-09-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1","location":"northcentralus","name":"cloud1","properties":{"cluster":{"clusterID":1,"clusterSize":4,"hosts":["he-fakehost43.mockp01.eastusmock.vmcp.vs.management","he-fakehost12.mockp01.eastusmock.vmcp.vs.management","he-fakehost13.mockp01.eastusmock.vmcp.vs.management","he-fakehost50.mockp01.eastusmock.vmcp.vs.management"]},"clusters":[],"endpoints":{"nsxtManager":"https://192.168.48.3/","vcsa":"https://192.168.48.2/"},"identitySources":[],"internet":"Disabled","managementNetwork":"192.168.48.0/24","networkBlock":"192.168.48.0/22","provisioningNetwork":"192.168.50.0/24","provisioningState":"Building","vmotionNetwork":"192.168.49.0/24"},"tags":{},"type":"Microsoft.AVS/privateClouds"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1/operationstatuses/6ceadf2b-b571-4190-a533-6b66c995cee9?api-version=2019-08-09-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1/operationstatuses/6ceadf2b-b571-4190-a533-6b66c995cee9?api-version=2019-08-09-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1/operationstatuses/6ceadf2b-b571-4190-a533-6b66c995cee9","name":"6ceadf2b-b571-4190-a533-6b66c995cee9","percentComplete":88.75,"startTime":"2020-05-06T16:03:43.7662673+00:00","status":"Building"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1/operationstatuses/6ceadf2b-b571-4190-a533-6b66c995cee9?api-version=2019-08-09-preview
  response:
    body:
      string: '{"endTime":"2020-05-06T16:05:12.5581217+00:00","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1/operationstatuses/6ceadf2b-b571-4190-a533-6b66c995cee9","name":"6ceadf2b-b571-4190-a533-6b66c995cee9","percentComplete":100,"properties":{"circuit":{"authorizations":[],"expressRouteID":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tnt55-cust-mockp01-eastusmock/providers/Microsoft.Network/expressroutecircuits/tnt55-cust-mockp01-eastusmock-er","expressRoutePrivatePeeringID":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tnt55-cust-mockp01-eastusmock/providers/Microsoft.Network/expressroutecircuits/tnt55-cust-mockp01-eastusmock-er/peerings/AzurePrivatePeering","primarySubnet":"192.168.51.8/30","secondarySubnet":"192.168.51.12/30"},"cluster":{"clusterID":1,"clusterSize":4,"hosts":["he-fakehost43.mockp01.eastusmock.vmcp.vs.management","he-fakehost12.mockp01.eastusmock.vmcp.vs.management","he-fakehost13.mockp01.eastusmock.vmcp.vs.management","he-fakehost50.mockp01.eastusmock.vmcp.vs.management"]},"clusters":[],"endpoints":{"nsxtManager":"https://192.168.48.3/","vcsa":"https://192.168.48.2/"},"identitySources":[],"internet":"Disabled","managementNetwork":"192.168.48.0/24","networkBlock":"192.168.48.0/22","nsxtCertificateThumbprint":"B9A9474616752565A3FAF23E0A013ECE3DC8B8FF","provisioningNetwork":"192.168.50.0/24","provisioningState":"Succeeded","vcenterCertificateThumbprint":"BE8EA855AA13D9662A115571636B9B1925C6DB68","vmotionNetwork":"192.168.49.0/24"},"startTime":"2020-05-06T16:03:43.7662673+00:00","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds?api-version=2019-08-09-preview
  response:
    body:
      string: '{"nextLink":null,"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1","location":"northcentralus","name":"cloud1","properties":{"circuit":{"authorizations":[],"expressRouteID":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tnt55-cust-mockp01-eastusmock/providers/Microsoft.Network/expressroutecircuits/tnt55-cust-mockp01-eastusmock-er","expressRoutePrivatePeeringID":"/subscriptions/00000000-0[...]
[...]
- request:
    body: '{"location": "northcentralus", "tags": {}, "properties": {"circuit": {"authorizations":
      [{"name": "myauthname"}]}, "cluster": {"clusterSize": 3}, "internet": "Enabled",
      "identitySources": [], "networkBlock": "192.168.48.0/22"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1?api-version=2019-08-09-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1","location":"northcentralus","name":"cloud1","properties":{"circuit":{"authorizations":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tnt55-cust-mockp01-eastusmock/providers/Microsoft.Network/expressroutecircuits/tnt55-cust-mockp01-eastusmock-er/authorizations/myauthname","key":"64edca2d-d8df-42ff-96d6-0a14621e6c7a","name":"myauthname"}],"expressRouteID":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tnt55-cust-mockp01-eastusmock/providers/Microsoft.Network/expressroutecircuits/tnt55-cust-mockp01-eastusmock-er","expressRoutePrivatePeeringID":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tnt55-cust-mockp01-eastusmock/providers/Microsoft.Network/expressroutecircuits/tnt55-cust-mockp01-eastusmock-er/peerings/AzurePrivatePeering","primarySubnet":"192.168.51.8/30","secondarySubnet":"192.168.51.12/30"},"cluster":{"clusterID":1,"clusterSize":3,"hosts":["he-fakehost43.mockp01.eastusmock.vmcp.vs.management","he-fakehost13.mockp01.eastusmock.vmcp.vs.management","he-fakehost50.mockp01.eastusmock.vmcp.vs.management"]},"clusters":[],"endpoints":{"nsxtManager":"https://192.168.48.3/","vcsa":"https://192.168.48.2/"},"identitySources":[],"internet":"Enabled","managementNetwork":"192.168.48.0/24","networkBlock":"192.168.48.0/22","nsxtCertificateThumbprint":"B9A9474616752565A3FAF23E0A013ECE3DC8B8FF","provisioningNetwork":"192.168.50.0/24","provisioningState":"Succeeded","vcenterCertificateThumbprint":"BE8EA855AA13D9662A115571636B9B1925C6DB68","vmotionNetwork":"192.168.49.0/24"},"tags":{},"type":"Microsoft.AVS/privateClouds"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "northcentralus", "tags": {}, "properties": {"circuit": {"authorizations":
      []}, "cluster": {"clusterSize": 3}, "internet": "Enabled", "identitySources":
      [{"name": "groupName", "alias": "groupAlias", "domain": "domain", "baseUserDN":
      "ou=baseUser", "baseGroupDN": "ou=baseGroup", "primaryServer": "ldaps://1.1.1.1:636",
      "ssl": "Disabled", "username": "someone", "password": "something"}], "networkBlock":
      "192.168.48.0/22"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1?api-version=2019-08-09-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Micro[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1/clusters?api-version=2019-08-09-preview
  response:
    body:
      string: '{"nextLink":null,"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"clusterSize": 3}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1/clusters/cluster1?api-version=2019-08-09-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1/clusters/cluster1","location":"northcentralus","name":"cluster1","properties":{"clusterID":2,"clusterSize":3,"hosts":["he-fakehost16.mockp01.eastusmock.vmcp.vs.management","he-fakehost25.mockp01.eastusmock.vmcp.vs.management","he-fakehost32.mockp01.eastusmock.vmcp.vs.management"],"provisioningState":"Building"},"tags":{},"type":"Microsoft.AVS/privateClouds/clusters"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1/clusters/cluster1/operationstatuses/e05a8519-7c7c-4873-8f61-15598d8bcfcf?api-version=2019-08-09-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1/clusters/cluster1/operationstatuses/e05a8519-7c7c-4873-8f61-15598d8bcfcf?api-version=2019-08-09-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1/clusters/cluster1/operationstatuses/e05a8519-7c7c-4873-8f61-15598d8bcfcf","name":"e05a8519-7c7c-4873-8f61-15598d8bcfcf","percentComplete":50,"startTime":"2020-05-06T16:07:58.1856153+00:00","status":"Building"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmware000001/providers/Microsoft.AVS/privateClouds/cloud1?api-version=2019-08-09-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.AVS/privateClouds/cloud1''
        under resource group ''cli_test_vmware000001'' was not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
version: 1
